*{
    font-family: roboto;
}
body{
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 62, 65);

}
.clear{
    background-color: red;
    margin-left: 10px;
}
.error{
    color: red;
    font-size: 14px;
    margin-bottom:10px ;

}
.bmi-cal{
    width: 800px;
    height: 500px;
    padding: 20px;
    background-color:white ;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    display: flex;

}
.box{
    width: 350px;
    background-image: url("assets/diet.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}
.data{
    flex: 1;
    padding: 15px;
   
}
h1{
    font-weight: 500px;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-transform: uppercase;
    color: blueviolet;
}
.input-container{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #888;  
}
input{
    width: 100%;
    padding: 10px;
    border:1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
}button{
    background-color: blueviolet;
    padding: 10px 20px;
    border-width: 0px;
    border-radius: 5px;
    color:white;
    cursor:pointer;
    transition:background-color 0.3s;
}
button:hover{
    background-color: blueviolet;
}
.result{
    margin-top: 20px;
    padding: 10px;
    border:1px solid blueviolet;
    border-radius: 5px;
}
.result p{
    margin: 10px 0;
    color: #555;
}
.result p:first-child{
    color: blue;
}